body {
    text-align: center;
    background-color: powderblue;
}

h1 {
    font-size: 30px;
    font-family: Arial;
    line-height: 70px;
}

p {
    line-height: 30px;
}

li {
    line-height: 20px;
}

.border {
    border: double;
    width:20%;
    margin: 3% 40%;
}

section {
  width: 250px;
  border: 1px solid black;
  position: relative;
  margin-left: 20px;
  top: 70px;
}

